<!-- <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>
    <img src="../../../assets/logo.png" width="56px">
  </ion-title>
</ion-toolbar> -->
<!-- <ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button (click)="clickedStar()">
      <ion-icon slot="icon-only" name="reload-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Meu Buteco Favorito</ion-title>
  <ion-buttons slot="end">
    <ion-menu-button autoHide="false"></ion-menu-button>

  </ion-buttons>
</ion-toolbar> -->
<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar color="warning" slot="bottom">
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Mapa dos Bares</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>